{% extends 'base.html.twig' %}

{% block title %}Compte Admin{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/user.css')}}">
{% endblock %}
{% block body %}
    <h2>Utilisateur</h2>
    <div class="utilisateur">
    {% for operation in operations %}
    <div class="contribute">
    identifiant numero: {{operation.users.id}}
        <p>Opérations Bancaire  </p>
        <div class="raw1">
            <p>{{operation.date|date("d/m/Y")}}</p>
            <p>{{operation.libellé}}</p>
            <a href="{{ path('app_contribution_edit', {id: operation.id, slug: operation.positionGps}) }}">selectionner un lieu</a>
        </div>  
     </div>
    {% endfor %} 
    </div>
{% endblock %}